.view-mode-additional_info {
  .field-name-commerce-price {
    @include adjust-font-size-to( 62px, 3 );
    color: $aqua;
    display: block;
    text-align: center;
    margin-bottom: $base-line-height;
  }
}