/**
 * Buttons.
 */
%button {
  padding: 10px;
  text-transform: uppercase;
  font-family: $raleway;
  font-weight: 800;
  @include breakpoint($sm, $no-query: true) {
    @include adjust-font-size-to( 19px, 1 );
    padding: 20px rhythm(1);
  }
}

.button-blue {
  text-align: center;
  a {
    display: block;
    @extend %button;
    color: $light-aqua;
    @include border-radius(10px);
    margin: 10px 0;
    @include breakpoint($md, $no-query: true) {

    }
    @include breakpoint($lg, $no-query: true) {
      margin: 0 rhythm(1);
    }
  }

  a:link,
  a:visited {
    color: white;
    background-color: $aqua;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: white;
    background-color: $deep-aqua;
    text-decoration: none;
  }
}