.view-related-users {
  .view-content {
    font-size: 0;
  }
}

#block-views-related-users-block,
#block-views-related-users-block-1 {
  .attendee--plaque {
    @include breakpoint($md, $no-query: true) {
      max-width: 50%;
    }

    @include breakpoint($lg, $no-query: true) {
      max-width: 33.33333%;
    }
  }
}

.attendee--plaque {
  @include box-sizing(border-box);
  display: inline-block;
  vertical-align: top;
  padding: 0 1em;
  margin: 0;
  font-size: 15px;
  width: 100%;
  text-align: center;

  .field-type-image {
    a {
      display: inline-block;
      position: relative;
      max-width: 100%;

      &:before {
        background-color: transparent;
        background-image: inline-image("user--profile__400.png");
        background-repeat: no-repeat;
        background-size: 100%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
      }

      img {
        vertical-align: bottom;
      }
    }
  }

  .speaker {
    .field-type-image {
      a:before {
        background-image: inline-image("user--profile__speaker__400.png");
      }
    }
  }

  h2 {
    margin-bottom: 0;
  }

  .user--social-media {
    min-height: 42px;

    .field {
      display: inline-block;
      width: 48px;
      height: 48px;
    }

    a {
      display: inline-block;
      position: relative;
      text-indent: -99999px;
      width: 42px;
      height: 42px;

      &:before {
        font-family: 'social-icons';
        font-size: 28px;
        text-indent: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 42px;
        height: 42px;
        max-width: 42px;
        max-height: 42px;
        line-height: 42px;
      }
    }

    [href*="drupal.org/user/"],
    [href*="drupal.org/u/"] {
      &:before {
        content: "\e603";
      }
    }
    [href*="twitter.com"] {
      &:before{
        content: "\e600";
      }
    }
    [href*="facebook.com"],
    [href*="fb.me"] {
      &:before {
        content: "\e602";
      }
    }
    [href*="plus.google.com"] {
      &:before {
        content: "\e601";
        font-size: 36px;
        line-height: 40px;
        font-weight: 300;
      }
    }
  }
}
