#map-layer-toggle {
  .baseLbl,
  .baseLayersDiv {
    display: none;
  }
  
  .dataLbl {
    display: none;
  }
  
  .dataLayersDiv {
    display: inline-block;
    font-size: 12px;
    margin-left: 0.5em;
    
    @include breakpoint($sm, $no-query: true) {
      br {
        display: none;
      }
    }
  }
  
  input {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    z-index: 2;
    
    + label {
      @include transition(all 300ms ease);
      background-repeat: no-repeat;
      background-position: 2em center;
      background-size: auto;
    }
    
    &[name="Local Attractions"] {
      + label {
        background-image: inline-image("taxonomy/pin--attraction__blue.png");
      }
    }
    &[name="Lodging & Hotels"] {
      + label {
        background-image: inline-image("taxonomy/pin--hotel__green.png");
      }
    }
    &[name="After Party"] {
      + label {
        background-image: inline-image("taxonomy/pin--party__gold.png");
      }
    }
    &[name="Main Event Venue"] {
      + label {
        background-image: inline-image("taxonomy/pin--main-event__red.png");
      }
    }
  }
  
  label {
    @include border-radius(4px);
    background-color: $aqua;
    color: $off-white;
    display: inline-block;
    text-transform: uppercase;
    margin: 0.5em 1em;
    margin-left: -1.5em;
    padding: 0.5em 1em;
    padding-left: 4.5em;
    position: relative;
    z-index: 1;
    
    &:hover {
      cursor: pointer;
    }
  }
  
  input:checked + label {
    background-color: $deep-aqua;
    color: white;
  }
}

.view-venue-maps {
  .venue--list {
    padding-left: 0;
  }
  
  .venue {
    display: inline-block;
    width: 100%;
    
    @include breakpoint($sm $md-lg, $no-query: true) {
      $zen-column-count: 2;
      &:nth-child(odd) {
        @include zen-grid-item(1, 1);
        @include zen-clear();
      }
      &:nth-child(even) {
        @include zen-grid-item(1, 2);
      }
    }
    
    @include breakpoint($md-lg, $no-query: true) {
      $zen-column-count: 3;
      
      &:first-child,
      &:nth-child(4n+4) {
        @include zen-grid-item(1, 1);
      }
      
      &:nth-child(3n+2) {
        @include zen-grid-item(1, 2);
      }
      
      &:nth-child(3n+3) {
        @include zen-grid-item(1, 3);
      }
      
      &:nth-child(4n+4) {
        @include zen-clear();
      }
    }
  }
}

#block-views-venue-maps-block-1 {
  @include box-sizing(border-box);
  padding: 0 20px;
  
  .block__title {}
  
  @include breakpoint($md, $no-query: true) {
    $zen-column-count: 2;
    @include zen-grid-item(1, 2);
  }
}